/Data/raw/plantanet.csv
/Data/raw/plantanet_subsample3.csv
/Data/raw/country_list.csv
/Data/raw/gapminder_internet.csv
/plantanet
/Notebooks/.ipynb_checkpoints/
/.ipynb_checkpoints/
/git-lfs-windows-v3.3.0.exe
/requirements-dev.in
/requirements.in